@import "tailwindcss";

/* Estos son los estilos base que garantizan el contraste */
@layer base {
  body {
    /* El fondo gris muy claro hace que las tarjetas blancas resalten */
    @apply bg-gray-100 text-gray-950 antialiased;
  }

  /* Aseguramos que los títulos siempre sean legibles */
  h1, h2, h3 {
    @apply text-black;
  }
}

@theme {
  /* Definimos la fuente para los himnos */
  --font-serif: "Georgia", "Times New Roman", serif;
}

:root {
  /* Tema Claro (Default) */
  --bg-primary: #f9fafb; /* gray-50 */
  --bg-card: #ffffff;
  --text-main: #0f172a; /* slate-900 */
  --text-muted: #64748b; /* slate-500 */
}

.theme-oscuro {
  --bg-primary: #0f172a; /* slate-900 */
  --bg-card: #1e293b; /* slate-800 */
  --text-main: #f1f5f9; /* slate-100 */
  --text-muted: #94a3b8; /* slate-400 */
}

.theme-sepia {
  --bg-primary: #f4ecd8;
  --bg-card: #fdf6e3;
  --text-main: #433422;
  --text-muted: #795e3e;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-main);
  transition: background-color 0.3s ease, color 0.3s ease;
}